In [2]:
# 1. 빈 dictionary 생성
my_dictionary = {}
# 2. 항목 추가
my_dictionary["이름"] = "홍길동"
my_dictionary["나이"] = 30
my_dictionary["직업"] = "개발자"

# 3. 딕셔너리 출력
print(my_dictionary)

# 4. 특정 항목 값 참조
name=my_dictionary["이름"]
age=my_dictionary["나이"]
job=my_dictionary["직업"]

print(f"이름: {name}, 나이: {age}, 직업: {job}")

# 5. 항목 수정
my_dictionary["나이"] = 31

# 6. 수정된 값 출력
print(f"업데이트된 나이: {my_dictionary['나이']}")

{'이름': '홍길동', '나이': 30, '직업': '개발자'}
이름: 홍길동, 나이: 30, 직업: 개발자
업데이트된 나이: 31

In [8]:
a = ('낮해', '밤별', '비눈')
dict(a)
# a = dict(('낮해땅')) # Error!

{'낮': '해', '밤': '별', '비': '눈'}

In [11]:
hash((1,2)) # hashable
# hash([1,2]) # unhashable

-3550055125485641917

- Hashable과 Immutable은 동의어라 생각해도 좋다
-

In [12]:
foods = dict.fromkeys(['milk', 'eggs'])
foods

{'milk': None, 'eggs': None}

In [15]:
foods = dict.fromkeys(['milk', 'eggs'], 10)
foods

{'milk': 10, 'eggs': 10}

In [16]:
city = dict(경기="시흥", 전북="전주")
city

{'경기': '시흥', '전북': '전주'}

In [17]:
city.keys()

dict_keys(['경기', '전북'])

In [18]:
for key in city.keys():
  print(key)

경기
전북

In [19]:
for key in city.keys():
  print(f"{key}: {city[key]}")

경기: 시흥
전북: 전주

In [22]:
subj = dict(영어=80, 수학=98, 화학=65)
print(subj)
print(max(subj))
print(max(subj, key=subj.get))
print(subj[max(subj, key=subj.get)])
print(subj.get(max(subj, key=subj.get)))

{'영어': 80, '수학': 98, '화학': 65}
화학
수학
98
98

In [23]:
a = set(['python', 'kotlin', 2005])

{2005, 'kotlin', 'python'}

In [25]:
len(a)

3

In [28]:
# print(a.remove('java')) # Error!
a.discard('java')

AttributeError: 'tuple' object has no attribute 'discard'

In [29]:
A = {1,2,3}
B = A
A is B

True

In [ ]:
B.copy(A)
B is A