In [25]:
print((lambda: 3*4)())
print(lambda x, y: divmod(x, y)(10,3))

12
<function <lambda> at 0x107d70c20>

In [26]:
print(abs(-3.4), abs(-30))

3.4 30

In [27]:
a = [1,2,3][1] = 5
print(a)

5

In [1]:
list(range(3))[1] = 5

In [7]:
2003 % 12

11

In [1]:
ord("c")

99

In [3]:
list(i for i in range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(i for i in range(1, 11) if i% 3 == 0)

[3, 6, 9]

In [5]:
hasattr(range, "__iter__")

True

In [17]:
print(iter(range(3)))
hasattr(iter(range(3)), "__next__")

True