# 5주차 수업

In [51]:
import sys
sys.version

'3.13.2 (main, Feb  4 2025, 14:51:09) [Clang 16.0.0 (clang-1600.0.26.6)]'

In [52]:
print(str(130))
print(len("python"))

130
6

In [53]:
print(ord('a'))
print(ord('A'))

97
65

In [54]:
chr(97), chr(65), chr(66)

('a', 'A', 'B')

In [55]:
min('python'), max('python')

('h', 'y')

In [56]:
# Coding 4-4
# 문자열을 가운데 정렬하여 출력하기
text = "Python"
centered_text = text.center(20, '-')
print(centered_text)

# 대문자를 소문자로 변환하기
lowercase_text = "HELLO WORLD"
lowercase_text = text.lower()
print(lowercase_text)

# 문자열을 대문자로 변환하기
text = "hello world;"
text=text.upper()
print(text)

# 문자열의 양쪽 공백 제거하기
text_with_space = "     Hello, World!     "
trimmed_text = text_with_space.strip()
print(trimmed_text)

-------Python-------
python
HELLO WORLD;
Hello, World!

## 리스트와 튜플

In [57]:
data = [1,2,3.14, [1,2,3], (10,20)]
data

[1, 2, 3.14, [1, 2, 3], (10, 20)]

In [58]:
lang = ['python', 'java', 'C++', 'go']
lang

['python', 'java', 'C++', 'go']

In [59]:
lang.insert(2, 'javascript')
lang

['python', 'java', 'javascript', 'C++', 'go']

In [60]:
lang.append('kotlin')
lang

['python', 'java', 'javascript', 'C++', 'go', 'kotlin']

In [61]:
lang.remove('java')
lang

['python', 'javascript', 'C++', 'go', 'kotlin']

In [62]:
del lang[0]
lang

['javascript', 'C++', 'go', 'kotlin']

In [63]:
lang.pop()
lang

['javascript', 'C++', 'go']

In [64]:
lang.pop(2)
lang

['javascript', 'C++']

In [65]:
lang2 = ['python', 'javascript', 'C++', 'go', 'kotlin']
lang.extend(lang2)
lang

['javascript', 'C++', 'python', 'javascript', 'C++', 'go', 'kotlin']

In [66]:
lang.extend([3])
lang

['javascript', 'C++', 'python', 'javascript', 'C++', 'go', 'kotlin', 3]

## Tuple
- 튜플은 리스트와 다르게 추가, 삭제와 같은 수정이 불가능하다

In [67]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [68]:
tuple('py')

('p', 'y')

In [69]:
num = 1,2,3
num

(1, 2, 3)

In [70]:
a,b,c = num
print(a,b,c)

1 2 3

In [71]:
print(len(num))

3

In [72]:
p = 'python'

p[::-1]

'nohtyp'

In [73]:
p[::-2]

'nhy'

In [83]:
b = bytes([0,112,0,0,3])
b

b'\x00p\x00\x00\x03'

In [2]:
sports = ['풋살', '축구', '야구', '농구']
sports

['풋살', '축구', '야구', '농구']

In [17]:
sports = ['풋살', '축구', '야구', '농구', '배구', '비치사커']
sports

['풋살', '축구', '야구', '농구', '배구', '비치사커']

In [6]:
sports[5] = '핸드볼'
sports

['풋살', '축구', '야구', '농구', '배구', '핸드볼']

In [8]:
sports[1:3] = sports[4:6]
sports

['풋살', '배구', '핸드볼', '농구', '배구', '핸드볼']

In [10]:
others = ['축구','미식축구','골프']
others

['축구', '미식축구', '골프']

In [20]:
sports[1:4] = others[:2]
sports

['풋살', '축구', '미식축구']

In [21]:
'py' + 'thon'

'python'

In [23]:
org = ['사과', '귤','배']
oth = org

In [24]:
org.pop()
org

['사과', '귤']

In [25]:
oth

['사과', '귤']

- oth = org 코드에서 
- oth는 org의 값을 복사해오는게 아니라, org의 주소를 가져온다 
- 즉 같은 공간을 가리키게 되는 것이다.

In [26]:
id(org) == id(oth)

True

In [27]:
org is oth

True

In [28]:
tp = '봄', '여름', '가을', '겨울'
tp

('봄', '여름', '가을', '겨울')

In [29]:
tp2 = tp
tp2

('봄', '여름', '가을', '겨울')

In [30]:
tp2 is tp

True

In [31]:
org = ['사과', '귤','배']
oth = org[:]
oth

['사과', '귤', '배']

In [32]:
org.pop()
org

['사과', '귤']

In [33]:
oth

['사과', '귤', '배']

In [34]:
org is oth

False

깊은 복사 시에는 주소를 가리키는게 아니라 새로운 객체를 생성한다.

그러나 튜플은 깊은 복사를 할 수 없다.

In [41]:
wlist = ['밥','삶','길','죽','꿈','차','떡','복','말']
print(wlist[::-1]) # 역순으로 출력
print(wlist[1::2]) # 삶,죽,차,복
print(wlist[-1:-9:-2]) # 말, 떡, 꿈, 길
print(wlist[-2:0:-3]) # 복, 꿈, 삶
print(wlist[2:10:3]) # 길, 차, 말
print(wlist[-2:-10:-2]) # 복, 차, 죽, 삶
print(wlist[1:-1]) # 삶 ~ 복
print(wlist[-2:0:-1]) # 복 ~ 밥

['말', '복', '떡', '차', '꿈', '죽', '길', '삶', '밥']
['삶', '죽', '차', '복']
['말', '떡', '꿈', '길']
['복', '꿈', '삶']
['길', '차', '말']
['복', '차', '죽', '삶']
['삶', '길', '죽', '꿈', '차', '떡', '복']
['복', '떡', '차', '꿈', '죽', '길', '삶']

In [48]:
s1 = 'Beautiful is better than ugly.'
s2 = 'Explicit is better than implicit.'

print(s1.split()[-1])
print(s1.count('i'))
print(s2.replace('is', 'was'))
print(s2.find('pli'))
print(s1.index('auti'))
print(s2.title())

ugly.
2
Explicit was better than implicit.
2
2
Explicit Is Better Than Implicit.