# 5주차 수업

In [51]:
import sys
sys.version

'3.13.2 (main, Feb  4 2025, 14:51:09) [Clang 16.0.0 (clang-1600.0.26.6)]'

In [52]:
print(str(130))
print(len("python"))

130
6

In [53]:
print(ord('a'))
print(ord('A'))

97
65

In [54]:
chr(97), chr(65), chr(66)

('a', 'A', 'B')

In [55]:
min('python'), max('python')

('h', 'y')

In [56]:
# Coding 4-4
# 문자열을 가운데 정렬하여 출력하기
text = "Python"
centered_text = text.center(20, '-')
print(centered_text)

# 대문자를 소문자로 변환하기
lowercase_text = "HELLO WORLD"
lowercase_text = text.lower()
print(lowercase_text)

# 문자열을 대문자로 변환하기
text = "hello world;"
text=text.upper()
print(text)

# 문자열의 양쪽 공백 제거하기
text_with_space = "     Hello, World!     "
trimmed_text = text_with_space.strip()
print(trimmed_text)

-------Python-------
python
HELLO WORLD;
Hello, World!

## 리스트와 튜플

In [57]:
data = [1,2,3.14, [1,2,3], (10,20)]
data

[1, 2, 3.14, [1, 2, 3], (10, 20)]

In [58]:
lang = ['python', 'java', 'C++', 'go']
lang

['python', 'java', 'C++', 'go']

In [59]:
lang.insert(2, 'javascript')
lang

['python', 'java', 'javascript', 'C++', 'go']

In [60]:
lang.append('kotlin')
lang

['python', 'java', 'javascript', 'C++', 'go', 'kotlin']

In [61]:
lang.remove('java')
lang

['python', 'javascript', 'C++', 'go', 'kotlin']

In [62]:
del lang[0]
lang

['javascript', 'C++', 'go', 'kotlin']

In [63]:
lang.pop()
lang

['javascript', 'C++', 'go']

In [64]:
lang.pop(2)
lang

['javascript', 'C++']

In [65]:
lang2 = ['python', 'javascript', 'C++', 'go', 'kotlin']
lang.extend(lang2)
lang

['javascript', 'C++', 'python', 'javascript', 'C++', 'go', 'kotlin']

In [66]:
lang.extend([3])
lang

['javascript', 'C++', 'python', 'javascript', 'C++', 'go', 'kotlin', 3]

## Tuple
- 튜플은 리스트와 다르게 추가, 삭제와 같은 수정이 불가능하다

In [67]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [68]:
tuple('py')

('p', 'y')

In [69]:
num = 1,2,3
num

(1, 2, 3)

In [70]:
a,b,c = num
print(a,b,c)

1 2 3

In [71]:
print(len(num))

3

In [72]:
p = 'python'

p[::-1]

'nohtyp'

In [73]:
p[::-2]

'nhy'

In [83]:
b = bytes([0,112,0,0,3])
b

b'\x00p\x00\x00\x03'

In [ ]:
b = bytes(b'python')
for i in len(b):
  print(b[i])

TypeError: 'int' object is not iterable